@model IList<Park>
@{
    ViewData["Title"] = "Index";
}

<h2 align="center">National Parks</h2>

<div align="center" class="container">
    <table>
        <tbody>
            @foreach (Park park in Model)
            {
                <tr id="mainRow">
                    <td>
                        <a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode"><img class="homeImage" src="~/images/parks/@(park.ParkCode).jpg" /> </a>
                    </td>
                    <td class="description">
                        <h3 class="parkNames">@park.ParkName</h3>
                        <div class="pd">@park.ParkDescription</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
