@model IList<Survey>
@{
    ViewData["Title"] = "FavoriteParks";
}

<h2>Favorite Parks</h2>

<div class="container">
    <table class="table table-striped">
        <tbody>
            @foreach (Survey survey in Model)
            {
            <tr>
                <td>
                    <img src="~/images/parks/@(survey.ParkCode).jpg" width="90" />
                </td>
                <td>
                    <h3><strong><span style="color:black">Park: @survey.ParkName</span></strong></h3>
                    <p><strong>Number of surveys: @survey.Count</strong></p>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
