#navbarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbarLI {
    float: left;
}

    #navbarLI a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        #navbarLI a:hover {
            background-color: #111;
        }

#logo {
    width: 20%;
    min-width: 200px;
    
}

h2 {
    color: #333333;
background: #FFFFFF;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

.description {

    vertical-align: top;
}

tr {
    padding: 0px
}

.homeImage{
    width: 300px
}

.parkNames{
    vertical-align: text-top;
}

.pd{
    display: inline-flex;
        width: 1000px;
}

.forecast {
    text-transform: capitalize;
}

.weather1 {
    width: 25%;
    padding: 5%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: forestgreen
}

.weather {
    width: 15%;
    padding: 2%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: forestgreen
}

table {
    position: center
}