body{
    margin: 0
}

#navbarUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbarLI {
    float: left;
}

#navbarLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbarLI a:hover {
    background-color: #111;
}

#logo {
    width: 20%;
    min-width: 200px;
}

.pageTitle{
    text-align: center
}

h2 {
    font-size: 40px
}

.container{
    margin: 0px 10%
}

.description {
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

#mainRow {
    padding: 0px;
    border-style: solid;
    border-width: 10px;
    border-color: green;
}

.rowContainer{
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-areas: "img description";
    border-style: solid;
    border-width: 2px;
    border-color: darkgreen;
    border-radius: 10px;
    margin: 10px 0px
}

.imgContainer{
    grid-area: img;
    width: 300px
}

.descriptionContainer{
    grid-area: description
}

.homeImage{
    width: 300px;
    padding: 4px 4px 0px 4px;
    border-radius: 10px
}

.parkNames{
    vertical-align: text-top;
}

.pd{
    padding: 0px 5px
}

.forecast {
    text-transform: capitalize;
}

table {
    position: center
}

#imgContainer{
    position:relative
}
#detailImage {
    width: 100%;
    min-width: 800px
}

#detailContainer{
    position: absolute;
    left: 10px;
    top: 5px
}

#quoteContainer {
    position: absolute;
    left: 10px;
    bottom: 5px
}

#parkName {
    color: white;
    font-size: xx-large;
    text-shadow: 0px 2px 3px #000000;
    margin: 0px
}

#state {
    color: white;
    font-size: large;
    text-shadow: 0px 2px 3px #000000;
    margin: 0px
}
#inspiredQuote {
    color: white;
    font-style: italic;
    font-size: large;
    text-shadow: 0px 2px 3px #000000;
    margin-top: 200px
}
#quoteSource {
    color: white;
    font-style: italic;
    font-size: large;
    text-shadow: 0px 2px 3px #000000;
}

#yearFounded {
    color: white;
    font-size: large;
    text-shadow: 0px 2px 3px #000000;
    display: inline-block;
    margin-left: 100px
}

#acreage{
    padding-right: 20px
}

.nittygritty{
    padding: 0px 20px
}

.weatherContainer{
}

.weather1 {
    width: 25%;
    min-height: 400px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgreen;
    border-radius: 5px;
    background-color: aqua;
    text-align: center;
    display: inline-block;
    vertical-align: top
}

.weather {
    width: 15%;
    min-width: 100px;
    min-height: 400px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgreen;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top
}

.weatherImage {
    width: 100%;
    border-radius: 5px;
}
