#logo{
    width: 20%;
    min-width: 200px
}

td {
    padding: 0px 0px 0px 0px
}

tr {
    padding: 0px
}

.homeImage{
    width: 200px
}

.parkNames{
    vertical-align: text-top;
    margin: 0px
}

.forecast {
    text-transform: capitalize;
}

.weather1 {
    width: 25%;
    padding: 5%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: forestgreen
}

.weather {
    width: 15%;
    padding: 2%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: forestgreen
}

table {
    position: center
}